/* Global Properties */
html {
  scroll-behavior: smooth;
}

body {
  background: #1f2235;
  font-family: "Baloo Tamma 2", cursive;
}

/* Main Heading Font */
.m-heading {
  font-family: "Roboto Slab", serif;
}

/* Navigation */
.nav-link {
  border: 2px solid transparent;
  color: #fff!important;
}
.navbar-brand{
  color: #fff!important;
}
.navbar-toggler-icon{
  background-color: white!important;
}
.navbar-toggler{
  background-color: #fff!important;
  
}

.nav-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #f5ba09;
  transition: 0.5s ease;
}
.bg-color{
  background-color: #1f2235;
}

/* Main Container height*/
.main-container {
  height: 100vh;
}

/* Aligning items in main row */
.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img-top{
 min-height: 100px!important;
}
/* Changing Name Font sixe */
.main_row h1 {
  font-size: 5rem;
}

/* Making the main image the size of the screen */
.main_row img {
  width: auto;
  height: 100vh;
}

/* About Section */
.about {
  background: #313552;
  border-radius: 0.5rem;
}

.card {
  border-bottom: 8px solid #f5ba09;
}

/* Social Media Section */
#social-media {
  background: #313552;
}

/* Add color to Social Media Links */
.media_link {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid #f5ba09;
  border-radius: 0.5rem;
}
@media (max-width:691px){
.card{
  margin: 0 auto;
 
}
.linkk{
  margin-top: 20px;
}
.eml{
  padding-left: 12px;
}

}
.scrolled{
  background-color: rgb(0,0,0,0.7);
}
@media only screen and (max-width:767px){
  .navbar-nav.ml-auto{
    background: rgba(0, 0, 0, 0.9);
  }
  .navbar-toggler{
    padding: 1px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }
}
.inner{
  overflow:hidden;
}
.inner img{
  transition: all 1.5s ease;
}
.inner:hover img{
  transform:scale(1.5);
}